<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Giới thiệu</h3>
                        <p>Công ty TNHH King Of Sound <br>cam kết cung cấp những sản<br>phẩm chất lượng hàng đầu</p>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>228, Nguyễn Văn Cừ, <br/>Phường 4, Quận 5, TPHCM</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>012-345-6789</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>kingofsound@gmail.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Loại sản phẩm</h3>
                        <ul class="footer-links">
                            <li><a href="/">Bán chạy</a></li>
                            <li><a href="/products?search=loa">Loa</a></li>
                            <li><a href="/products?search=tai+nghe">Tai nghe</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Thông tin</h3>
                        <ul class="footer-links">
                            <li><a >Giới thiệu</a></li>
                            <li><a >Liên hệ</a></li>
                            <li><a >Chính sách bảo mật</a></li>
                            <li><a >Đặt hàng và Trả hàng</a></li>
                            <li><a >Các điều khoản và điều kiện</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Dịch vụ</h3>
                        <ul class="footer-links">
                            <li><a href="/user/profile">Tài khoản</a></li>
                            <li><a href="/cart">Giỏ hàng</a></li>
                            <li><a href="/">Yêu thích</a></li>
                            <li><a href="/orders">Giao hàng</a></li>
                            <li><a >Trợ giúp</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->