<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i>012-345-6789</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i>kingofsound@gmail.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i>228, Nguyễn Văn Cừ, Phường 4, Quận 5, TPHCM</a></li>
            </ul>
            <ul class="header-links pull-right">
                <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
                {{#if user}}
                <div class="dropdown">
                   <li><a href="/profile"><i class="fas fa-users-cog" style=" font-size: 15px;"></i>{{user.firstname}}{{user.lastname}} </a></li>
                    <div class="dropdown-content">
                        <a href="/profile">Tài khoản</a>
                        <a href="#">Đơn hàng</a>
                        <a href="/logout">Đăng xuất</a>
                    </div>
                </div>
                {{else}}
                <li><a href="/login"><i class="fa fa-user-o"></i> Đăng nhập</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="logo">
                            <img src="/img/logo3.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form>
                            <select class="input-select">
                                <option value="0">Tất cả</option>
                                <option value="1">Loa</option>
                                <option value="1">Tai nghe</option>
                            </select>
                            <input class="input" placeholder="Nhập từ khóa">
                            <button class="search-btn">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Wishlist -->
                        <!-- /Wishlist -->

                        <!-- Cart -->
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Giỏ hàng</span>
                                <div class="qty">0</div>
                            </a>
                            {{!-- <div class="cart-dropdown">
                                <div class="cart-list">
                                    <div class="product-widget">
                                        <div class="product-img">
                                            <img src="/img/products/product_03_01.jpg" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">Loa Sony</a></h3>
                                            <h4 class="product-price"><span class="qty">1x</span>$100.00</h4>
                                        </div>
                                        <button class="delete"><i class="fa fa-close"></i></button>
                                    </div>

                                    <div class="product-widget">
                                        <div class="product-img">
                                            <img src="/img/products/product_11_01.jpg" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">Tai nghe Sony</a></h3>
                                            <h4 class="product-price"><span class="qty">2x</span>$100.00</h4>
                                        </div>
                                        <button class="delete"><i class="fa fa-close"></i></button>
                                    </div>
                                </div>
                                <div class="cart-summary">
                                    <small>2 Sản phẩm đã chọn</small>
                                    <h5>Tổng cộng: $300</h5>
                                </div>
                                <div class="cart-btns">
                                    <a href="#">Xem giỏ hàng</a>
                                    <a href="#">Thanh toán <i class="fa fa-arrow-circle-right"></i></a>
                                </div> --}}
                            </div>
                        </div>
                        <!-- /Cart -->

                        <!-- Menu Toogle -->
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->