<!-- NAVIGATION -->
<nav id="navigation">
	<!-- container -->
	<div class="container">
		<!-- responsive-nav -->
		<div id="responsive-nav">
			<!-- NAV -->
			<ul class="main-nav nav navbar-nav">
				<li><a href="/">Trang chủ</a></li>
				<li><a href="/products">Sản phẩm</a></li>
				<li><a href="#">Loa</a></li>
				<li><a href="#">Tai nghe</a></li>
				<li><a href="#">Sản phẩm mới</a></li>
				<li><a href="#">Bán chạy</a></li>
			</ul>
			<!-- /NAV -->
		</div>
		<!-- /responsive-nav -->
	</div>
	<!-- /container -->
</nav>
<!-- /NAVIGATION -->

<script>
	$(document).ready(function(){
		const current_page_URL = location.href;
		$( "a" ).each(function() {
			if ($(this).attr("href") !== "#") {
				let target_URL = $(this).prop("href");
				if (target_URL == current_page_URL) {
					$('nav a').parents('li, ul').removeClass('active');
					$(this).parent('li').addClass('active');
					return false;
				}
			}
		});
	});
</script>