<!-- NAVIGATION -->
<nav id="navigation">
	<!-- container -->
	<div class="container">
		<!-- responsive-nav -->
		<div id="responsive-nav">
			<!-- NAV -->
			<ul class="main-nav nav navbar-nav">
				<li><a href="/">Trang chủ</a></li>
				<li><a href="/products">Sản phẩm</a></li>
				<li><a href="#">Loa</a></li>
				<li><a href="#">Tai nghe</a></li>
				<li><a href="#">Sản phẩm mới</a></li>
				<li><a href="#">Bán chạy</a></li>
			</ul>
			<!-- /NAV -->
		</div>
		<!-- /responsive-nav -->
	</div>
	<!-- /container -->
</nav>
<!-- /NAVIGATION -->