@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

.checkout{
  font-family: 'Roboto Condensed', sans-serif;
  color: #262626;
  margin: 1% 0;
  width: 100%;
}
.checkout .container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px)
{
    .checkout .container{
    max-width: 90%;
  }
  .checkout .Yorder
  {
      max-width: 300px;
  }
}
.checkout .d-flex{
  display: flex;
  flex-direction: row;
  background: #c9c6c6;
  border-radius: 0 0 5px 5px;
  padding: 25px;
}
.checkout form{
  flex: 4;
}
.checkout .Yorder{
  flex: 2;
}
.checkout .title{
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #960707), color-stop(100, #080808));
  border-radius:5px 5px 0 0 ;
  padding: 20px;
  color: #f6f6f6!important;
}
.checkout h2{
  margin: 0;
  padding-left: 15px; 
  color: white;
}
.checkout .required{
  color: red;
}
.checkout label, .checkout table{
  display: block;
  margin: 15px;
}
.checkout label>span{
  float: left;
  width: 25%;
  margin-top: 12px;
  padding-right: 10px;
}
.checkout input[type="text"], .checkout input[type="tel"], .checkout input[type="email"], .checkout select
{
  width: 70%;
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #dadada;
  color: #888;
}
.checkout select{
  width: 70%;
  height: 32px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.checkout .Yorder{
  margin-top: 15px;
  height: auto;
  padding: 20px;
  border: 1px solid #dadada;
}
.checkout table{
  margin: 0;
  padding: 0;
}
.checkout th{
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
}
.checkout tr>td:nth-child(1){
  text-align: left;
  color: #2d2d2a;
}
.checkout tr>td:nth-child(2){
  text-align: right;
  color: #b6301e;
}
.checkout td{
  border-bottom: 1px solid #dadada;
  padding: 25px 25px 25px 0;
}

.checkout p{
  display: block;
  color: #888;
  margin: 0;
  padding-left: 25px;
}
.checkout .Yorder>div{
  padding: 15px 0; 
}

.checkout button{
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: #b91a05;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
.checkout button:hover{
  cursor: pointer;
  background: #428a7d;
}
.checkout ul li{
    float:left;
    margin-right: 10px;
    font-size: 30px;
}
.checkout .tt::after
{
  content: ' vnđ';
  font-size: 80%;
}