
{{>header}}
{{>navigation}}
<section class="login_box_area section-margin">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="login_form_inner">
					<div class="row justify-content-center message-block-register">
						{{#if error}}
						<div class="alert alert-danger col-6">
							<p class="text-center message">{{error}}</p>
						</div>
						{{else}}
							{{#if success}}
								<div class="alert alert-success col-6">
									<p class="text-center message">{{success}}</p>
								</div>
							{{else}}
								<div class="col-6">
									<p class="alert text-center message" id="error-login"></p>
								</div>
							{{/if}}
						{{/if}}
					</div>
					<h3>Quên mật khẩu?</h3>
					<form class="row login_form" action="/forgot-password" id="forgot-password-form" method="POST">
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="email-forgot-password" name="email" placeholder="Email">
						</div>
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="button button-login" id="button-forgot-password">Khôi phục mật khẩu</button>
							<a href="/login">Hủy</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{{>footer}}
