<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<div class="hover">
						<h4>Bạn đã có tài khoản?</h4>
						<a class="button button-account" href="/login">Đăng nhập ngay</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner register_form_inner">
					<h3>Tạo tài khoản</h3>
					<form class="row login_form" action="/register" id="register_form" method="POST" >
						<div class="col-md-12 form-group">
							<input type="email" class="form-control" id="email" name="email" placeholder="Email">
						</div>
						<div class="col-md-12 form-group">
							<input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu">
						</div>
						<div class="col-md-12 form-group">
							<input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Xác nhận mật khẩu">
						</div>
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="firstname" name="firstname" placeholder="Họ" >
						</div>
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Tên">
						</div>
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ">
						</div>
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="phone" name="phone" placeholder="Số điện thoại">
						</div>
						<div class="col-md-12 form-group err-block">
							<strong class="text-danger" id="error-register"></strong>
						</div>
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="button button-register" id="button-register">Đăng ký</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->