
{{>header}}
{{>navigation}}
<section class="login_box_area section-margin">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="login_form_inner">
					<h3>Đặt lại mật khẩu mới</h3>
					<form class="row login_form" action="/reset-password?token={{token}}&email={{email}}" id="reset-password-form" method="POST">
						<div class="col-md-12 form-group">
							<input type="password" class="form-control" id="password-reset" name="password" placeholder="Mật khẩu">
						</div>
                        <div class="col-md-12 form-group">
							<input type="password" class="form-control" id="confirm-password-reset" name="confirmPassword" placeholder="Xác nhận mật khẩu">
						</div>
						<div class="col-md-12 form-group err-block">
							{{#if error}}
							<strong class="text-danger" id="error-login">{{error}}</strong>
							{{else}}
							<strong class="text-danger" id="error-login"></strong>
							{{/if}}
						</div>
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="button button-login" id="button-reset-password">Đặt lại mật khẩu</button>
							<a href="/forgot-password">Quên mật khẩu?</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{{>footer}}
