
{{> header }}
{{> navigation }}
<div class="profile">
    <div class="container">
        <div class="row gutters">
            <div class="col-md-3 col-3">
                <div class="card h-100 card-x">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                                </div>
                                <h5 class="user-name">{{user.firstname}} {{user.lastname}}</h5>
                                <h6 class="user-email">{{user.email}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-9">
                <div class="card h-100">
                    <form method="POST" action = "/user/changepassword">
                        <div class="card-body">
                         <div class="row gutters edit-profile">
            
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Thay đổi mật khẩu</h6>
                                {{#if error}}
                                <div class="alert alert-danger">
                                        {{error}}
                                </div>
                                {{/if}}
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="oldpassword">Mật khẩu</label>
                                    <input  type="password"  class="form-control" name="oldpassword" placeholder="Mật khẩu" required="">
                                </div>
                            </div>
        
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="newpassword">Mật khẩu mới</label>
                                    <input  type="password"  class="form-control" name="newpassword" placeholder="Mật khẩu mới" required="">
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for ="renewpassword">Nhập lại mật khẩu mới</label>
                                    <input  type="password"  class="form-control" name="renewpassword" placeholder="Nhập lại mật khẩu mới" required="">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <a href="/user/profile"  class="btn btn-secondary"> 
                                           Quay lại</a>
                                    <button id="change-profile" id="submit" type ="summit" value="summit" class="btn btn-primary">Xác nhận</button>
                                   </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{> newsletter}}
{{> footer }}